.cart-list{
    padding-top: 0px;
    padding-bottom: 0px;
}

.vertical-content-middle{
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.horizontal-content-center{
    text-align: center;
}

.item-select select{
    padding-top: 0px;
    padding-bottom: 0px;
}

.item-toggle .toggle{
    top: 4px;
}
.invoice-input-container{
    padding: 0px;
}
.invoice-input{
    padding: 0px 16px 0px 16px !important;
    border-radius: 3px 3px 3px 3px !important;
    -moz-border-radius: 3px 3px 3px 3px !important;
    -webkit-border-radius: 3px 3px 3px 3px !important;
    background-color: #eeeeee !important;
    opacity: 0.5 !important;
}