.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.layout-header-fixed {
  height: 45px;
  line-height: 45px;
}
.food-item-divider {
  min-height: 10px;
}
.item-divider {
  padding: 0px !important;
}
.item-no-vertical-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.padding-right-16 {
  text-align: right;
  padding-right: 16px;
}
.absolute-padding-left-16 {
  position: absolute;
  left: 16px;
}
.absolute-padding-left-48 {
  position: absolute;
  left: 48px;
}
.absolute-padding-left-72 {
  position: absolute;
  left: 72px;
}
.absolute-padding-right-16 {
  position: absolute;
  right: 16px;
}
.absolute-padding-right-32 {
  position: absolute;
  right: 32px;
}
.absolute-padding-right-36 {
  position: absolute;
  right: 36px;
}
.absolute-padding-left-50-percent {
  position: absolute;
  left: 50%;
}
.arrow-style {
  font-size: 150%;
}
.vertical-line-20 {
  opacity: 0.3;
  width: 1px;
  height: 20px;
  background: #000000;
}
.vertical-line-100-percent {
  opacity: 0.3;
  width: 1px;
  height: 100%;
  background: #000000;
}
.height-50 {
  height: 50px;
}
.slide-left-right {
  -webkit-transform: translate3d(100, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.slide-left-right.ng-enter,
.slide-left-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.slide-left-right.ng-enter-active,
.slide-left-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slide-left-right.ng-leave,
.slide-left-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}
.clear-float {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.important-key {
  font-size: 16px;
  font-weight: bold;
  font-family: "宋体";
}
.description-key {
  font-size: 14px;
  color: #708090;
}
