.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.food-item-divider{
    min-height: 10px;
}

.item-divider{
    padding: 0px !important;
}

.item-no-vertical-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-right-16{
    text-align: right;
    padding-right: 16px;
}

.absolute-padding-left-16{
    position: absolute;
    left: 16px;
}

.absolute-padding-right-16{
    position: absolute;
    right: 16px;
}

.absolute-padding-right-32{
    position: absolute;
    right: 32px;
}

.arrow-style{
    font-size: 150%;
}