.order-detail-header {
  background-color: #4cae4c;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
.full-screen-scroll .scroll {
  height: 100%;
  position: relative;
}
.full-screen-scroll .order-detail-status {
  height: 50px;
  background-color: #4cae4c;
  position: relative;
}
.full-screen-scroll .order-detail-status .order-detail-status-inner {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  background-color: #ffffff;
  position: absolute;
  height: 40px;
  width: 95%;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.full-screen-scroll .order-detail-status .order-detail-status-inner .order-detail-status-font {
  background-color: #FF6537;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  color: #ffffff;
}
.full-screen-scroll .order-detail-list .order-detail-item {
  padding: 0 15px;
}
.full-screen-scroll .order-detail-list .order-detail-item .order-detail-item-inner {
  border-bottom: 1px solid #DDD;
  padding: 8px 0;
}
.full-screen-scroll .order-detail-list .order-detail-item .order-detail-item-inner .order-detail-money-column {
  text-align: right;
}
.full-screen-scroll .order-detail-list .order-detail-item #order-detail-money-item {
  color: #FF6537;
}
