.order-nav-item{
    text-align: center;
}

.order-nav-item-active{
    border-bottom: 3px #4cae4c solid;
    /*color: #FF5400;*/
    color: #4cae4c;
}
.order-abstract-loading{
    position: absolute;
    top: 40%;
    left: 45%;
}