.side-bar-item{
    margin-left: 3%;
    margin-right: 3%;
    opacity: 1 !important;
}

.side-bar-item-active{
    background-color: #4cae4c;
}

.side-bar-item-disactive{
    background-color: #ffffff;
}

.side-bar-item-icon-active{
    color: #ffffff;
}

.side-bar-item-icon-disactive{
    color: #4cae4c;
}

.side-bar-item-text-active{
    color: #ffffff;
}

.side-bar-item-text-disactive{
    color: #111;
}

.side-bar-hr{
    width: 60%;
    margin-top: 0px;
    margin-bottom: -1px;
}

.food-description-font{
    font-size: 10px;
}

.select-food-icon{
    font-size: 25px;
}

.food-characteristic-font{
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    font-size: 10px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: red;
    text-align: center;
}

h2{
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    border: 0px 0px 0px 0px !important;
}