.order-food-layout-header{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 9%;
}

.order-food-layout-content{
    position: absolute;
    top: 9%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 80%;
}

.order-food-layout-footer{
    height: 10%;
}

.order-food-layout-side-bar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
}

.order-food-layout-food-content{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20%;
    right: 0px;
    height: 100%;
}

.side-bar-item{
    margin-left: 3%;
    margin-right: 3%;
    opacity: 1 !important;
}

.side-bar-item-active{
    background-color: #4cae4c;
}

.side-bar-item-disactive{
    background-color: #ffffff;
}

.side-bar-item-icon-active{
    color: #ffffff;
}

.side-bar-item-icon-disactive{
    color: #4cae4c;
}

.side-bar-item-text-active{
    color: #ffffff;
}

.side-bar-item-text-disactive{
    color: #111;
}

.side-bar-hr{
    width: 60%;
    margin-top: 0px;
    margin-bottom: -1px;
}

.food-description-font{
    font-size: 10px;
}

.select-food-icon{
    font-size: 30px;
    color: #4cae4c;
}

.food-characteristic-font{
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.food-state-font{
    background-color: orange;
    font-size: 14px;
}

.food-characteristic-font-odd{
    font-size: 10px;
    background-color: red;
}

.food-characteristic-font-even{
    background-color: purple;
    font-size: 10px;
}

.food-price-select {
    font-size: 8px;
}

.order-food-cart-header{
    background-color: #eeeeee;
}

.order-food-cart-header-cart{
    position: relative;
    font-size: 30px;
    color: #4cae4c;
    text-align: center;
}

.vertical-line{
    opacity: 0.3;
    width: 1px;
    height: 20px;
    background: #000000;
}
.order-food-total-money{
    font-weight: bold;
    font-size: 20px;
}

h2{
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    border: 0px 0px 0px 0px !important;
}