<table class="cart-operation-button-table">
    <tr>
        <td class="cart-operation-button-left-part">
            <div class="cart-operation-button-icon-container">
                <i class="icon ion-ios-compose-outline cart-operation-button-icon"></i>
                <span class="cart-operation-button-font">加菜</span>
            </div>
        </td>
        <td class="cart-operation-button-middle-part"></td>
        <td class="cart-operation-button-right-part">
            <div class="cart-operation-button-icon-container">
                <span class="cart-operation-button-font">清空</span>
                <i class="ion-ios-trash-outline cart-operation-button-icon"></i>
            </div>
        </td>
    </tr>
</table>