<table class="conform-order-button-table">
    <tbody>
        <tr>
            <td class="conform-order-button-left-part">
                <span>
                    实付
                    <span ng-bind=""></span>
                    元
                </span>
                <span class="conform-order-button-discount">
                    已优惠
                    <span ng-bind=""></span>
                    元
                </span>
            </td>
            <td class="conform-order-button-right-part">确认订单</td>
        </tr>
    </tbody>
</table>
