<span>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive[0]]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive[1]]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive[2]]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive[3]]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive[4]]"></i>
</span>