<div>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive1]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive1]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive1]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive1]"></i>
    <i class="icon food-rate-icon-star ion-ios-star" ng-class="{true:'food-rate-icon-star-active',false:'food-rate-icon-star-disactive'}[isActive1]"></i>
</div>