.food-characteristic-div{
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: red;
    text-align: center;
}
.food-characteristic-font{
    font-size: 10px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}