<ion-modal-view>
    <ion-header-bar class="bar bar-header cart-payment-header">
        <i class="ion-ios-arrow-back" style="color: #ffffff; font-size: 32px; padding-left: 12px;" ng-click="hideConformPayment()"></i>
        <h1 class="title">确认支付</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <div class="item cart-list vertical-content-middle" ng-click="selectCouponOpen()">
                <span class="absolute-padding-left-16">订单总价</span>
                <span class="absolute-padding-right-32 order-food-money">
                    <span>¥</span>
                    <span ng-bind="money.afterDiscountMoney"></span>
                </span>
            </div>

            <div class="item item-divider food-item-divider"></div>

            <!--选择支付方式-->
            <div class="item cart-list vertical-content-middle">
                <span class="absolute-padding-left-16">请选择支付方式</span>
            </div>

            <div
                    class="item item-avatar-left select-payment-method-item"
                    ng-repeat="paymentMethod in paymentMethods"
                    ng-click="selectPaymentMethod(paymentMethod.id)"
                >
                <img ng-src={{paymentMethod.img}}>
                <div class="row row-no-padding select-payment-method-text">
                    <div class="col col-75">
                        <h2 ng-bind="paymentMethod.name"></h2>
                        <p ng-bind="paymentMethod.description"></p>
                    </div>
                    <div class="col col-25 select-payment-method-check-box-container">
                        <i
                                class="ion-checkmark-circled select-payment-method-check-box"
                                ng-class="{true: 'select-payment-method-check-box-active', false: 'select-payment-method-check-box-inactive'}[paymentMethod.isActive]"></i>
                    </div>
                </div>
            </div>

            <div class="conform-payment-button">
                确认支付
            </div>
        </div>
    </ion-content>
</ion-modal-view>