<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">确认支付</h1>
        <button class="button button-clear button-primary" ng-click="selectCouponDone()">done</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <div class="item cart-list vertical-content-middle" ng-click="selectCouponOpen()">
                <span class="absolute-padding-left-16">订单总价</span>
                <span class="absolute-padding-right-16">
                    <span>¥</span>
                    <span ng-bind=""></span>
                </span>
            </div>

            <div class="item item-divider food-item-divider"></div>

            <!--选择支付方式-->
            <div class="item cart-list vertical-content-middle">
                <span class="absolute-padding-left-16">请选择支付方式</span>
            </div>

            <div class="item item-avatar-left">
                <img src="images/alipay.png">
                <h2>支付宝支付</h2>
                <p>支付宝</p>
            </div>

            <div class="item item-avatar-left">
                <img src="images/wechat.jpg">
                <h2>微信支付</h2>
                <p>微信</p>
            </div>

            <div class="item item-avatar-left">
                <img src="images/cash.png">
                <h2>现金支付</h2>
                <p>现金</p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>