<ion-view view-title="点餐" hide-nav-bar="true">
    <div id="orderFoodsHeader" class="order-food-layout-header">
        <table style="height: 100%;width: 100%;" class="order-food-cart-header">
            <tr>
                <td style="width: 20%;text-align: center;" >
                    <div class="tab-item has-badge" style="margin-top: 3%;">
                        <i class="badge badge-assertive" ng-bind="totalNum"></i>
                        <i class="ion ion-ios-cart" style="font-size: 35px;color: #4cae4c;"></i>
                    </div>
                </td>
                <td style="vertical-align: middle; width: 1%;text-align: center;">
                    <div class="vertical-line"></div>
                </td>
                <td style="vertical-align: middle; width: 39%;text-align: left;">
                    <span class="order-food-total-money" style="padding-left: 10%">¥</span>
                    <span class="order-food-total-money" ng-bind="totalMoney"></span>
                </td>
                <td style="vertical-align: middle; width: 40%;text-align: center;">
                    <div class="button button-small button-energized" style="height: 30px;width: 70px;">选好了</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row row-no-padding responsive-break order-food-layout-content">
        <div class="col col-20 order-food-layout-side-bar">
            <ion-scroll delegate-handle="sideBarScroll" zooming="false" direction="y" paging="false" scrollbar-y="false" style="height: 100%;">
                <div ng-repeat="type in foodTypes">
                    <div class="tab-item side-bar-item" ng-click="GetFoodsByTypeClick(type)" ng-class="{true: 'side-bar-item-active',false:'side-bar-item-disactive'}[type.isActive]">
                        <i class="icon ion-android-home" ng-class="{true:'side-bar-item-icon-active',false:'side-bar-item-icon-disactive'}[type.isActive]"></i>
                        <p ng-bind="type.name" ng-class="{true:'side-bar-item-text-active',false:'side-bar-item-text-disactive'}[type.isActive]"></p>
                    </div>
                    <hr class="side-bar-hr">
                </div>
            </ion-scroll>
        </div>
        <div class="col col-80 order-food-layout-food-content">
            <ion-scroll delegate-handle="contentScroll" zooming="false" direction="y" paging="false" style="height: 100%; background-color: #cccccc;">
                <ion-list>
                    <ion-item ng-repeat="food in foods" class="item-thumbnail-left" style="margin:5px 5px 5px 5px;">
                        <img ng-src="{{food.img}}">
                        <div class="row row-no-padding responsive-break">
                            <div class="col col-67">
                                <h2 ng-bind="food.name"></h2>
                            </div>
                            <div class="col col-33">
                                <span class="food-characteristic-font food-state-font" ng-hide="food.state">已售罄</span>
                                <span class="food-characteristic-font food-state-font" ng-show="food.state">供应中</span>
                            </div>
                        </div>
                        <span ng-repeat="chara in food.characteristic">
                            <span class="food-characteristic-font" ng-class-odd="'food-characteristic-font-odd'" ng-class-even="'food-characteristic-font-even'" ng-bind="chara"></span>
                        </span>
                        <br>

                        <food-rate level="food.level"></food-rate>
                        <span class="food-description-font">
                            月售<span ng-bind="food.sellNumPerMonth"></span>份
                        </span>
                        <br>
                            <!--<span ng-bind="food.state"></span>-->
                        <div>
                            <span ng-repeat="price in food.price">
                                <span class="food-description-font" ng-bind="price.name"></span>
                                <span ng-bind="price.price"></span>
                            </span>
                        </div>
                        <div class="row row-no-padding responsive-break">
                            <div class="col col-67" style="position: relative;">
                                <i
                                        class="icon ion-ios-minus select-food-icon"
                                        ng-click="minusFoodClick(food.name)"
                                        style="position: absolute;left: 0px;"
                                        ng-show="foodSelectedArray[food.name].num > 0">
                                </i>
                                <span
                                        ng-bind="foodSelectedArray[food.name].num"
                                        style="position: absolute; left: 40%;top: 20%;"
                                        ng-show="foodSelectedArray[food.name].num > 0">
                                </span>
                                <i class="icon ion-ios-plus select-food-icon" ng-click="addFoodClick(food.name)" style="position: absolute;right: 10%;"></i>
                            </div>
                            <div class="col col-33">
                                <select class="food-price-select"
                                        ng-init="selectVolume=foodSelectedArray[food.name]"
                                        ng-model="selectVolume"
                                        ng-options="item as item.name for item in food.price track by item.name"
                                        ng-change="SelectVolume(food.name,selectVolume)"
                                        >
                                </select>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </div>
    </div>
</ion-view>