<ion-view view-title="订单" hide-nav-bar="true">
    <div class="row row-no-padding layout-header-fixed">
        <div
                class="col col-33 order-nav-item"
                ng-repeat="item in orderProcessTypes"
                ng-class="{true:'order-nav-item-active'}[item.isActive]"
                ng-bind="item.name"
                ng-click="selectOrderProcessType(item.processType)"
                >
        </div>
    </div>
    <ion-scroll zooming="false" direction="y" paging="false" scrollbar-y="true" style="height: 100%;">
        <div class="list" ng-show="orderLoaded" ng-cloak="ng-cloak">
            <order-abstract-item ng-repeat="orderAbstractItem in orderAbstracts" order-abstract-item="orderAbstractItem"></order-abstract-item>
        </div>
    </ion-scroll>
    <ion-spinner ng-hide="orderLoaded" icon="bubbles" class="spinner-balanced order-abstract-loading"  ng-cloak></ion-spinner>
</ion-view>