<ion-view view-title="购物车" hide-nav-bar="true">
    <div class="order-food-layout-header order-food-cart-header" style="vertical-align: middle;">
        <!--<div class="button button-small button-balanced" style="height: 30px;width: 70px; position: absolute; left: 10%;">选好了</div>-->
        <table style="height: 100%;width: 100%;" class="order-food-cart-header">
            <tr>
                <td style="width: 50%; vertical-align: middle; text-align: left;">
                    <div class="button button-small button-balanced" style="height: 30px;width: 70px;margin-left: 10%;">选好了</div>
                </td>
                <td style="width: 50%; text-align: right; vertical-align: middle">
                    <i class="ion-ios-trash" style="font-size: 30px;color: #4cae4c; padding-right: 10%;"></i>
                </td>
            </tr>
        </table>
    </div>
    <div class="order-food-layout-content">
        <ion-scroll zooming="false" direction="y" paging="false" scrollbar-y="true" style="height: 100%;">
            <div class="list">

                <div class="item item-divider food-item-divider">
                </div>

                <div id="cartList" class="item" ng-repeat="(foodName,foodEntity) in foods">
                    <div class="row row-no-padding responsive-break">
                        <div class="col col-40 vertical-content-middle">
                            <span ng-bind="foodName"></span>
                        </div>
                        <div class="col col-30 vertical-content-middle">
                            <span class="order-food-total-money" style="padding-left: 10%">¥</span>
                            <span class="order-food-total-money" ng-bind="foodEntity.price"></span>
                        </div>
                        <div class="col col-10 vertical-content-middle horizontal-content-center">
                            <i
                                    class="icon ion-ios-minus select-food-icon"
                                    ng-click="minusFoodClick(foodEntity.foodNum, foodEntity.volume)"
                                    ng-show="foodEntity.foodNum > 0">
                            </i>
                        </div>
                        <div class="col col-10 vertical-content-middle horizontal-content-center">
                            <span
                                    ng-bind="foodEntity.foodNum"
                                    ng-show="foodEntity.foodNum > 0">
                            </span>
                        </div>
                        <div class="col col-10 vertical-content-middle horizontal-content-center">
                            <i
                                    class="icon ion-ios-plus select-food-icon"
                                    ng-click="addFoodClick(foodEntity.foodName, foodEntity.volume, foodEntity.price)">
                            </i>
                        </div>
                    </div>
                </div>

            </div>
        </ion-scroll>
    </div>
 <!--   <ion-content class="padding">
        <p>购物车</p>
    </ion-content>-->
</ion-view>