<ion-view view-title="购物车" hide-nav-bar="true">

    <!--确认下单-->
    <div class="order-food-layout-header" style="vertical-align: middle;">
        <table class="conform-order-button-table">
            <tbody>
            <tr>
                <td class="conform-order-button-left-part">
                    <span>
                        实付
                        <span ng-bind="money.afterDiscount"></span>
                        元
                    </span>
                    <span class="conform-order-button-discount">
                        已优惠
                        <span ng-bind="money.discount"></span>
                        元
                    </span>
                </td>
                <td
                        ng-init="orderConforming = false;"
                        class="conform-order-button-right-part"
                        ng-class="{true: 'conform-order-button-right-part-active', false: 'conform-order-button-right-part-disactive'}[money.beforeDiscountMoney > 0]"
                        ng-click="conformUserOrderClick()">
                    <span ng-hide="orderConforming">确认订单</span>
                    <ion-spinner ng-show="orderConforming" icon="spiral" class="spinner-light"  ng-cloak></ion-spinner>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="order-food-layout-content">
        <ion-scroll zooming="false" direction="y" paging="false" scrollbar-y="true" style="height: 100%;">
            <div class="list">
                <div class="item item-divider food-item-divider"></div>
                <label class="item item-input item-select cart-list vertical-content-middle">
                    <span class="input-label">就餐人数：</span>
                    <select
                            ng-init="peopleNum = userInfo.peopleNum"
                            ng-model="peopleNum"
                            ng-options="item as item for item in restaurantInfo.allPeople track by item"
                            ng-change="selectPeopleNum(peopleNum)"
                            >
                    </select>
                </label>
                <label class="item item-input item-select cart-list vertical-content-middle">
                    <span class="input-label">我的桌号：</span>
                    <select
                            ng-init="seatNum = userInfo.seatNum"
                            ng-model="seatNum"
                            ng-options="item as item for item in restaurantInfo.allSeats track by item"
                            ng-change="selectSeatNum(seatNum)"
                            >
                    </select>
                </label>
                <div class="item item-no-vertical-padding">
                    <div class="item-toggle cart-list vertical-content-middle">
                        是否需要发票
                        <label class="toggle toggle-balanced">
                            <input type="checkbox"
                                   ng-init="isInvoiceNeed = userInfo.isInvoiceNeed"
                                   ng-model="isInvoiceNeed"
                                   ng-change="selectInvoiceNeed(isInvoiceNeed)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div
                            class="item-input invoice-input-container cart-list vertical-content-middle"
                            ng-show="userInfo.isInvoiceNeed"
                            ng-cloak>
                        <input class="invoice-input" type="text" placeholder="请输入单位抬头或个人" ng-model="userInfo.invoice" ng-blur="saveInvoice(userInfo.invoice)">
                    </div>
                </div>

                <!--支付方式-->
                <!--<label class="item item-input item-select cart-list vertical-content-middle">
                    <span class="input-label">支付方式：</span>
                    <select
                            ng-init="paymentMethod = userInfo.paymentMethod"
                            ng-model="paymentMethod"
                            ng-options="item as item.paymentMethodName for item in restaurantInfo.allPaymentMethods track by item.paymentMethodId"
                            ng-change="selectPaymentMethod(paymentMethod)"
                            >
                    </select>
                </label>-->

                <div class="item item-divider food-item-divider"></div>
                <div style="height: 40px;">
                    <cart-operation-button total-money="money.beforeDiscountMoney" foods="foods"></cart-operation-button>
                </div>
                <!--所点的菜的详细列表-->
                <div class="item cart-list" ng-repeat="(foodName,foodEntity) in foods">
                    <div class="row row-no-padding responsive-break">
                        <div class="col col-50 vertical-content-middle">
                            <span ng-bind="foodName"></span>
                        </div>
                        <div class="col col-20 vertical-content-middle">
                            <span class="order-food-total-money" style="padding-left: 10%">¥</span>
                            <span class="order-food-total-money" ng-bind="foodEntity.volume.price"></span>
                        </div>
                        <div class="col col-10 vertical-content-middle horizontal-content-center">
                            <i
                                    class="icon ion-ios-minus select-food-icon"
                                    ng-click="minusFoodClick(foodEntity.foodName, foodEntity.volume)"
                                    ng-show="foodEntity.num > 0"
                                    ng-cloak>
                            </i>
                        </div>
                        <div class="col col-10 vertical-content-middle horizontal-content-center">
                            <span
                                    ng-bind="foodEntity.num"
                                    ng-show="foodEntity.num > 0"
                                    ng-cloak>
                            </span>
                        </div>
                        <div class="col col-10 vertical-content-middle horizontal-content-center">
                            <i
                                    class="icon ion-ios-plus select-food-icon"
                                    ng-click="addFoodClick(foodEntity.foodName, foodEntity.volume)">
                            </i>
                        </div>
                    </div>
                </div>
                <!--收银信息-->
                <div class="item cart-list vertical-content-middle padding-right-16">
                    <span>订单金额</span>
                    <span>
                        <span>¥</span>
                        <span ng-bind="money.beforeDiscount"></span>
                    </span>
                </div>

                <!--使用优惠券-->
                <div class="item cart-list vertical-content-middle" ng-click="selectCouponOpen()">
                    <span class="absolute-padding-left-16">选择优惠券</span>
                    <span class="absolute-padding-right-32">
                        <span ng-bind=""></span>
                        <span>张可用</span>
                    </span>
                    <i class="ion-ios-arrow-forward absolute-padding-right-16 arrow-style"></i>
                    <!--<use-coupon></use-coupon>-->
                </div>

                <div class="item cart-list vertical-content-middle padding-right-16">
                    <span>实付金额</span>
                    <span>
                        <span>¥</span>
                        <span ng-bind="money.afterDiscount"></span>
                    </span>
                </div>
            </div>
        </ion-scroll>
    </div>
    <div payment-method-modal payment-info="paymentInfo"
        is-payment-method-modal-show="isPaymentMethodModalShow">
    </div>
</ion-view>